{%- macro copyright_header(name, description, date, copyright) -%}
{%- if description -%}
{{- name }} - {{ description }}
{%- else %}
{{- name }}
{%- endif %}
{%- if licenses.date.first_year == licenses.date.current_year %}

Copyright © {{ licenses.date.current_year }} {{ licenses.copyright.owner }}
{%- else %}

Copyright © {{ licenses.date.first_year }} - {{ licenses.date.current_year }} {{ licenses.copyright.owner }}
{%- endif %}
{%- endmacro %}
